<?xml version="1.0"?>
<?oxygen RNGSchema="entity-render.rnc" type="compact"?>
<classes>
    <!-- when oXygen eventually supports xpointer in xinclude, this will be better -->
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="port.xml"/>

    <!-- a TwinGig module for an X2 slot -->
    <module type="cevModuleCommonCards.192">
        <container type="cevContainerSFP" x="0" y="0"/>
        <container type="cevContainerSFP" x="22" y="0"/>
    </module>

    <!-- a Processor Card module for a 6500 -->
    <module type="cevCat6kWsSup720Base" image="WS-SUP7203BXL.gif">
        <!-- could have a containerGroup for these two -->
        <container type="cevContainerGbic" x="416" y="40"/>
        <container type="cevContainerGbic" x="484" y="40"/>

        <port type="cevPortBaseTEther" x="558" y="40"/>
    </module>

    <!-- a 24 SFP slot module for a 6500 -->
    <module type="cevCat6kWsx6724Sfp" image="wsx6724sfp.gif">
        <containerGroup type="cevContainerGbic"
                        x="60" y="35"
                        xStep="24" yStep="0"
                        height="1" width="24"
                        countDirection="across"/>
    </module>

    <!-- a 24 port 100Mbit multimode fibre module for a 6500 -->
    <module type="cevCat6kWsx6524MmMT" image="wsx6524mm.gif">
        <portGroup type="cevPortFe"
            x="48" y="37"
            xStep="24" yStep="0"
            width="24" height="1"
            countDirection="across"/>
        <portGroup type="cevPort.123"
            x="48" y="37"
            xStep="24" yStep="0"
            width="24" height="1"
            countDirection="across"/>
        <portGroup type="cevPort100BaseFX"
            x="48" y="37"
            xStep="24" yStep="0"
            width="24" height="1"
            countDirection="across"/>
    </module>

    <!-- an eight port GBIC module for a 6500 -->
    <module type="cevCat6kWsx6408aGbic" image="wsx6408agbic.gif">
        <containerGroup type="cevContainerGbic"
                        x="98" y="40"
                        xStep="67" yStep="0"
                        height="1" width="8"
                        countDirection="across"/>
    </module>

    <!-- a FWSM module for a 6500 -->
    <module type="cevCat6kWsSvcFwm1" image="wssvcfwm1.gif"/>

    <!-- a four port 10Gig module for a 6500 -->
    <module type="cevCat6kWsx670410Ge" image="wsx670410ge.gif">
        <containerGroup type="cevContainer10GigBasePort"
                        x="220" y="34"
                        xStep="80" yStep="0"
                        height="1" width="4"
                        countDirection="across"/>
    </module>

</classes>
